<div>
  <turbo-frame id="sessions-frame" data-dashboard-target="sessionsFrame" class="flex flex-1 justify-center min-w-full w-full h-[60px]">
    <div class="mx-auto my-[10px]">
      <span class="relative align-middle">
        <div class="absolute top-0 left-full flex flex-row align-middle">
          <%= button_to sessions_path, :method => :post, class: 'p-0 ml-[10px]' do %>
            <%= fa_icon "plus" %>
          <% end %>
          <%= button_to @selected_session, :method => :delete, class: 'p-0 ml-[10px]' do %>
            <%= fa_icon "minus" %>
          <% end %>
        </div>
        Sessions
      </span>
    </div>

    <%= turbo_stream_from(@selected_session) %>

    <% if @sessions.exists? %>
      <div id="sessions-select-container" class="flex justify-center min-w-full w-full h-[60px]">
        <select name="sessions-select" id="sessions-select" data-action="change->dashboard#goToSelectedSession" data-dashboard-target="sessionsSelect" class="mx-[20px] mb-[10px] w-[360px] border-gray-400 bg-slate-900">
          <% @sessions.each_with_index do |session, index| %>
            <option value="<%= session.id %>" <%= "selected" if session.id == @selected_session.id %>><%= "Session #{index}" %></option>
          <% end %>
        </select>
      </div>

      <%= render partial: 'sessions/session', locals: { records: @records, times: @times } %>
    <% else %>
      No sessions available!
    <% end %>
  </turbo-frame>
</div>
